<div [ngClass]="'container'">
  <div [ngClass]="'half left'">
    <a routerLink="/" draggable="false">&#8249;</a>

    <div [ngClass]="'box'">
      <h2 style="color: #FFA200">REGISTER</h2>
      <div style="display:flex; flex-direction: column;" *ngIf="verifyScreen; else verify_content">
        <input (keyup)="onChangeRegisterEmail($event)" type="email" spellcheck="false" placeholder="Email...">
        <input (keyup)="onChangeRegisterUsername($event)" type="text" spellcheck="false" placeholder="Username...">
        <input (keyup)="onChangeRegisterPassword($event)" type="password" spellcheck="false" placeholder="Password...">
        <input (keyup)="onChangeRegisterConfirmPassword($event)" type="password" spellcheck="false" placeholder="Confirm Password...">
        <button (click)="verifyEmail()">REGISTER</button>
        <p>{{ loginTextRegister }}</p>
      </div>
      <ng-template #verify_content>
        <h3>PLEASE ENTER THE VERIFICATION<br>CODE SENT TO YOUR EMAIL</h3>
        <input (keyup)="onChangeVerifyCode($event)" type="text" spellcheck="false" placeholder="Verification Code...">
        <button (click)="register()">{{RegisterButtonText}}</button>
        <p>{{ loginTextVerify }}</p>
      </ng-template>
    </div>

  </div>
  <div [ngClass]="'half right'">
    <div [ngClass]="'box'">
      <h2 style="color: white">LOGIN</h2>
      <div style="display:flex; flex-direction: column;" *ngIf="forgotScreen; else forgot_content">
        <input (keyup)="onChangeLoginEmail($event)" type="email" spellcheck="false" placeholder="Email...">
        <input (keyup)="onChangeLoginPassword($event)" type="password" spellcheck="false" placeholder="Password...">
        <button (click)="login()">{{loginButtonText}}</button>
        <span (click)="forgot()">FORGOT PASSWORD?</span>
        <p>{{ loginTextLogin }}</p>
      </div>
      <ng-template #forgot_content>
        <h3>PLEASE ENTER YOUR EMAIL</h3>
        <input (keyup)="onChangeForgotEmail($event)" type="email" spellcheck="false" placeholder="Email...">
        <button (click)="forgotPassword()">SEND</button>
        <p>{{ loginTextForgot }}</p>
      </ng-template>

    </div>
  </div>

</div>