.container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;

    @media screen and (max-width: 450px) {
        display: block;
    }

    .half {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 450px) {
            width: 100%;
            height: 100%;
        }
    }

    .left {
        position: relative;

        a {
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px;
            font-size: 30px;
            color: #FFA200;
            font-weight: bold;
            user-select: none;
            text-decoration: none;
        }

        .box {

            h3 {
                color: gray;
                font-weight: bold;
                font-size: 14px;
                line-height: 150%;
                padding-bottom: 20px;
            }

            input {
                background: rgba(0, 0, 0, 0.2);
                color: rgba(0, 0, 0, 0.7);
    
                &::placeholder {
                    color: rgba(0, 0, 0, 0.3);
                }
            }

            button {
                background: transparent;
                border: 2px solid #FFA200;
                color: #FFA200;
                box-shadow: inset 0 0 0 0 #FFA200;

                &:hover {
                    color: white;
                    box-shadow: inset 0 -100px 0 0 #FFA200;
                }
    
                &:active {
                    transform: scale(0.95);
                }
            }

            p {
                color: #FFA200;
            }
        }
    }

    .right {
        background-image: url("../../assets/images/grid.png"), linear-gradient(to top right, rgb(212, 110, 14), #FFB300);
        background-size: cover;
        background-repeat: no-repeat;  

        .box {

            h3 {
                color: white;
                font-weight: bold;
                font-size: 14px;
                line-height: 150%;
                padding-bottom: 20px;
            }

            input {
                background: rgba(0, 0, 0, 0.2);
                color: white;
    
                &::placeholder {
                    color: rgba(255, 255, 255, 0.6);
                }
            }

            button {
                background: transparent;
                border: 2px solid white;
                color: white;
                box-shadow: inset 0 0 0 0 white;

                &:hover {
                    color: #FFA200;
                    box-shadow: inset 0 -100px 0 0 white;
                }
    
                &:active {
                    transform: scale(0.95);
                }

            }

            p {
                color: white;
            }
        }
        
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        animation: 0.2s ease-out 0s 1 cardAnim;

        h2 {
            padding-bottom: 20px;
            font-weight: bold;
            font-size: 26px;
        }

        input {
            width: 300px;
            height: 50px;
            padding-left: 15px;
            margin-bottom: 30px;
            border: none;
            letter-spacing: 1px;
        }

        button {
            height: 50px;
            width: 300px;
            letter-spacing: 4px;
            font-weight: bold;
            transition: 0.15s ease-in-out;
        }

        span {
            color: white;
            font-size: 12px;
            font-weight: bold;
            margin-top: 25px;
            text-align: center;
            align-self: center;
            cursor: pointer;
            user-select: none;
        }

        p {
            width: 300px;
            font-weight: bold;
            margin-top: 25px;
            font-size: 12px;
            text-align: center;
            align-self: center;
            line-height: 150%;
            user-select: none;
        }
    }
}

@keyframes scaleUp {
    0% {
      transform: scale(0.96);
    }
    100% {
      transform: scale(1);
    }
  }