<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="width: 100%; height: 100vh;">
<router-outlet></router-outlet>
</div>