.container {
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url("../../assets/images/grid.png"), linear-gradient(to top right, rgb(212, 110, 14), #FFB300);
    background-size: cover;
    background-repeat: no-repeat;  
    justify-content: center;
    align-items: center;

    .box {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: 0.2s ease-out 0s 1 scaleUp;
        padding: 20px; 
        
        h2 {
            padding-bottom: 20px;
            font-weight: bold;
            font-size: 26px;
            color: #FFA200;
            align-self: flex-start;
        }

        input {
            background: rgba(0, 0, 0, 0.2);
            color: rgba(0, 0, 0, 0.7);
            width: 300px;
            height: 50px;
            padding-left: 15px;
            margin-bottom: 30px;
            border: none;
            letter-spacing: 1px;

            &::placeholder {
                color: rgba(0, 0, 0, 0.3);
            }
        }

        button {
            background: transparent;
            border: 2px solid #FFA200;
            color: #FFA200;
            box-shadow: inset 0 0 0 0 #FFA200;
            height: 50px;
            width: 300px;
            letter-spacing: 4px;
            font-weight: bold;
            transition: 0.15s ease-in-out;

            &:hover {
                color: white;
                box-shadow: inset 0 -100px 0 0 #FFA200;
            }

            &:active {
                transform: scale(0.95);
            }
        }

        p {
            width: 300px;
            font-weight: bold;
            margin-top: 25px;
            font-size: 12px;
            text-align: center;
            align-self: center;
            color: #FFA200;
            line-height: 150%;
            user-select: none;
        }
    }
}

@keyframes scaleUp {
    0% {
      transform: scale(0.96);
    }
    100% {
      transform: scale(1);
    }
  }