<div [ngClass]="'container'">
  <div [ngClass]="'box'">
    <h2>RESET PASSWORD</h2>
    <input (keyup)="onChangePassword($event)" type="password" spellcheck="false" placeholder="Password...">
    <input (keyup)="onChangeRetypePassword($event)" type="password" spellcheck="false" placeholder="Retype Password...">
    <button (click)="reset()">{{resetButtonText}}</button>
    <p>{{resetText}}</p>
  </div>
</div>
