.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../../assets/images/grid_invert.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
    z-index: -1;
}

.nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    user-select: none;

    .right {
        display: flex;
        align-items: center;

        p {
            color: #FFA200;
            font-weight: bold;

            @media screen and (max-width: 450px) {
                display: none;
            }
        }
    }
    
    div {
        padding-right: 15px;
        padding-top: 10px;

        .profile {
            width: 45px;
            height: 45px;
            border: 2px solid #FFA200;
            border-radius: 50%;
            background: url("../../assets/images/profile.png");
            background-size: cover;
            background-position: 50% 50%;
            cursor: pointer;
            margin-left: 25px;
            margin-right: 27px;
        }

        a {
            color: #FFA200;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 4px;
            padding-left: 15px;
            padding-right: 15px;
            cursor: pointer;
        }
    }

}

.body {

    height: calc(100vh - 70px);
    position: relative;

    .fab {
        position: absolute;
        width: 56px;
        height: 56px;
        background: #FFA200;
        border-radius: 50%;
        bottom: 0;
        right: 0;
        margin-bottom: 40px;
        margin-right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 26px;
        user-select: none;
        box-shadow: 0px 0px 60px -5px rgba(0,0,0,0.4);
        cursor: pointer;
        z-index: 50;
        transition: all 0.2s ease-out;
        animation: 0.2s ease-out 0s 1 cardAnim;
        transform: scale(1);

        &:hover {
            box-shadow: 0px 0px 50px -5px rgba(0,0,0,0.6);
            transform: scale(0.92);
        }
    }

    .empty {
        width: 100%;
        height: 100%;
        display: flex;
        z-index: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .title {
            font-weight: bold;
            line-height: 200%;
            text-align: center;
            padding-bottom: 40px;
            padding-top: 40px;
            user-select: none;
            color: rgba(0, 0, 0, 0.3);
        }
    }

    .cardContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        @media screen and (max-width: 620px) {
            justify-content: center;
        }
        .card {
            width: 350px; 
            height: 200px; 
            background-image: url('/assets/images/0.png');
            background-size: cover;
            background-position: 50% 50%;
            margin: 20px;
            position: relative;
            cursor: pointer;
            user-select: none;
            transition: all 0.2s ease-out;
            animation: 0.2s ease-out 0s 1 cardAnim;

            &:hover {
                transform: scale(0.96);
                transition: all 0.2s ease-out;
            }

            .content {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                padding: 20px;
                color: white;
                overflow-wrap: break-word;

                h2 {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 150%;
                    margin-bottom: 5px;
                }

                p {
                    line-height: 150%;
                    letter-spacing: 2px;
                }
            }

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                z-index: 1;
            }

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: #E7988E;
                opacity: 0.5;
                z-index: 0;
            }
        }
    }
}

@keyframes cardAnim {
    0% {
      transform: scale(0.96);
    }
    100% {
      transform: scale(1);
    }
  }

.modal-closed {
    display: none;
    background: rgba(255, 255, 255, 0);

}

.modal-opened {
    display: flex;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
}

.demo {
    opacity: 1;
    transition: all 0.4s ease-out;

}

.modalBoxWidthBefore {
    width: 250px;
    transform: scale(0.98);
    opacity: 0;
}

.modalBoxWidthAfter {
    width: 600px;
    transform: scale(1);
    opacity: 1;
    transition: width 0.3s ease-out, transform 0.4s ease-out, opacity 0.05s ease-out;
}

#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 500;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .modalBox {
        height: 400px;
        background: white;
        box-shadow: 0px 0px 75px -5px rgba(0, 0, 0, 0.2);
        position: relative;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 450px) {
            width: 100%;
            flex: 1;
        }
        .image {
            width: 100%;
            height: 200px;
            background-size: cover;
            background-image: url('/assets/images/0.png');
            background-position: 50% 50%;
            position: relative;

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                z-index: 1;
            }

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: #E7988E;
                opacity: 0.5;
                z-index: 0;
            }

            .icons {
                position: absolute;
                right: 0;
                padding: 20px;
                z-index: 2;

                @media screen and (max-width: 450px) {
                    padding: 15px;
                }

                span {
                    color: white;
                    font-weight: bold;
                    font-size: 26px;
                    cursor: pointer;
                }
            }

            .modalTitle {
                position: absolute;
                width: 100%;
                bottom: 0;
                padding-left: 20px;
                padding-right: 20px;
                margin-bottom: 20px;
                font-weight: bold;
                color: white;
                z-index: 2;
                background: none;
                font-size: 24px;
                border: none;
                text-transform: uppercase;

                &::placeholder {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }

        .bottom {
            height: 200px;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: 450px) {
                flex: 1;
            }
            .modalBody {
                color: #af7770;
                padding: 20px;
                padding-bottom: 10px;
                width: 100%;
                line-height: 150%;
                border: none;
                resize: none;
                flex: 1;
            }
    
            .date {
                padding: 20px;
                padding-top: 0px;
                font-weight: bold;
                font-size: 12px;
                color: #af7770;
                float: right;
                align-self: flex-end;
            }
        }

    }
}