<div [ngClass]="'container'">
  <div [ngClass]="'background'"></div>

  <nav [ngClass]="'nav'">
    <div [ngClass]="'right'">
      <a draggable="false" routerLink="/">Formo</a>
    </div>
    <div [ngClass]="'right'">
      <p>{{account.username}}</p>
      <div id="profile" [ngClass]="'profile'"></div>
      <mat-icon (click)="logout()" style="cursor: pointer; transform: scale(1.2); color: #FFA200;" svgIcon="logout"></mat-icon>
    </div>
  </nav>

  <main [ngClass]="'body'">
    <div [ngClass]="'fab'" (click)="openNewModal()">+</div>
    <div [ngClass]="'empty'" *ngIf="!account.notes?.length > 0; else note_content">
      <mat-icon style="transform: scale(3); color: rgba(0, 0, 0, 0.3);" svgIcon="note"></mat-icon>
      <h1 [ngClass]="'title'">YOU DON'T HAVE ANY NOTES.<br>START ADDING THEM NOW!</h1>
    </div>

    <ng-template #note_content>
      <ng-scrollbar shown="hover">
        <div [ngClass]="'cardContainer'">
          <div [ngClass]="'card'" (click)="openModal(note)" *ngFor="let note of account.notes">
            <div [ngClass]="'content'">
              <h2>{{note.title.toUpperCase()}}</h2>
              <p>{{note.body}}</p>
            </div>
          </div>
        </div>
      </ng-scrollbar>
    </ng-template>

  </main>

  <div id="modal" [ngClass]="'modal-closed'">
    <div id="box" [ngClass]="'modalBox modalBoxWidthBefore'">
      <div [ngClass]="'image'">
        <div [ngClass]="'icons'">
          <mat-icon (click)="deleteNote()" style="color:white; cursor: pointer; margin-right: 20px;" svgIcon="delete"></mat-icon>
          <!-- <mat-icon style="color:white; cursor: pointer; margin-right: 20px; " svgIcon="image"></mat-icon> -->
          <mat-icon (click)="closeAnimation()" style="color:white; cursor: pointer;" svgIcon="close"></mat-icon>
        </div>
        <input [ngClass]="'modalTitle'" placeholder="TITLE..." (input)="onChangeTitle($event.target.value)" value="{{modal.title}}"
          spellcheck="false" />
      </div>
      <div [ngClass]="'bottom'">
        <textarea [ngClass]="'modalBody'" placeholder="Body..." id="textarea" (input)="onChangeBody($event.target.value)"
          spellcheck="false" [value]="modal.body"></textarea>
        <p [ngClass]="'date'">{{modal.date}}</p>
      </div>
    </div>
  </div>

</div>