/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    letter-spacing: 2px;
    line-height: 1;
    outline: 0;
    font-size: 1em;
    font-weight: inherit;
}

button {
    border: none;
    cursor: pointer;
}