<div [ngClass]="'container'">
  <div [ngClass]="'hero-container'">
    <div [ngClass]="'hero-box'">

      <nav [ngClass]="'nav'">
        <div [ngClass]="'right'">
          <a draggable="false" routerLink="/dashboard">Formo</a>
        </div>
        <div [ngClass]="'right'">
          <a draggable="false" routerLink="/login">Login</a>
        </div>
      </nav>

      <div [ngClass]="'center'">
        <h1>FORM<span>O</span></h1>
        <h2>A NOTES APPLICATIO<span>N</span></h2>
        <button routerLink="/dashboard">WRITE SOMETHING NOW</button>
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon fill="white" points="0,100 100,0 100,100" />
      </svg>
    </div>
  </div>

  <div [ngClass]="'box'">
      <div [ngClass]="'card'">
        <div [ngClass]="'content'">
          <h2>WELCOME TO FORMO!</h2>
          <p>Formo is a nice simple note-taking application.</p>
        </div>
    </div>
  </div>
  <footer>
    <h2>MADE BY MUHAMMAD HAKIM</h2>
  </footer>
</div>