.container {
    width: 100%;
    height: 100%;
}

.nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    user-select: none;
    
    div {
        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 4px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

}

.hero-box {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url("../../assets/images/grid.png"), linear-gradient(to top right, rgb(212, 110, 14), #FFB300);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .center {
        position: absolute;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 4%;
        user-select: none;

        h1 {
            text-transform: uppercase;
            color: white;
            letter-spacing: 60px;
            font-size: 50px;
            padding-bottom: 20px;
            font-weight: bold;

            @media screen and (max-width: 450px) {
                font-size: 25px;
                letter-spacing: 40px;
            }
        }
    
        h2 {
            color: white;
            font-size: 15px;
            letter-spacing: 15px;
            padding-bottom: 25px;
            font-weight: bold;

            @media screen and (max-width: 450px) {
                text-align: center;
                font-size: 12px;
                padding-left: 15px;
                padding-right: 15px;
                line-height: 200%;
            }
        }

        button {
            height: 50px;
            font-size: 14px;
            font-weight: bold;
            padding-left: 30px;
            padding-right: 30px;
            letter-spacing: 4px;
            display: inline-block;
            box-shadow: inset 0 0 0 0 white;

            background: transparent;
            border: 2px solid white;
            color: white;
            transition: 0.15s ease-in-out;

            &:hover {
                color: #FFA200;
                box-shadow: inset 0 -100px 0 0 white;
            }

            &:active {
                transform: scale(0.95);
            }
            
        }
    }

    svg {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 6vw;
        
    }
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;    

        .card {
            width: 350px; 
            height: 200px; 
            background-image: url('/assets/images/0.png');
            background-size: cover;
            background-position: 50% 50%;
            margin: 20px;
            position: relative;
            cursor: pointer;
            user-select: none;
            transition: all 0.2s ease-out;
            animation: 0.2s ease-out 0s 1 cardAnim;

            &:hover {
                transform: scale(0.96);
                transition: all 0.2s ease-out;
            }

            .content {
                position: absolute;
                z-index: 2;
                width: 100%;
                height: 100%;
                padding: 20px;
                color: white;
                overflow-wrap: break-word;

                h2 {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 150%;
                    margin-bottom: 5px;
                }

                p {
                    line-height: 150%;
                    letter-spacing: 2px;
                }
            }

            &::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                z-index: 1;
            }

            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background: #E7988E;
                opacity: 0.5;
                z-index: 0;
            }
        }
}

footer {
    width: 100%;
    height: 100px;
    background: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        color: #FFB300;
        letter-spacing: 20px;
        font-weight: bold;
        font-size: 20px;
    }
}